<div class="h-3/6 md:h-5/6 w-10/12 md:w-4/12 block absolute z-0 bg-gradient-to-b from-lightmagenta to-lightviolet top-0 -left-20 rounded-b-full"></div>
<div class="hidden md:block h-5/6 w-4/12  absolute z-0 bg-gradient-to-b from-lightmagenta to-lightviolet bottom-0 right-0 rounded-t-full opacity-5"></div>