<div class="w-96 text-verydarkdesaturatedviolet text-center md:text-left p-4 md:p-0">
  <h1 class="text-4xl leading-loose font-medium"> Simple booking</h1>
  <p class=" text-darkgreyishviolet text-sm leading-relaxed">
  Stay in touch with our dog walkers through the chat interface. This makes it easy to discuss arrangements and make bookings. Once the walk has been completed you can rate your walker and book again all through the chat.
  </p>
</div>